---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Ecosoft — Next Generation ERP - Odoo Plus',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      targetBlank: true,
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: '~/assets/images/odoo-logo-blue.svg', alt: 'Odoo Image' }}
  >
    <Fragment slot="title">
      Next Generation ERP
      <span class="text-accent dark:text-white highlight"></span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">100% Open Source</span><br>No License Cost, Only Quality Service</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="Ecosoft | Your ERP Partner"
    subtitle="เราคือผู้เชี่ยวชาญในระบบ ERP ที่มีประสบการณ์เฉพาะ odoo มากกว่า 10 ปี และเป็นหนึ่งในทีมนักพัฒนาหนึ่งเดียวของไทยที่เข้าร่วมพัฒนากับ <a href='/''><b>OCA - Odoo Community Association</b></a>"
    items={[
      {
        title: 'Ecosoft | Odoo Expert',
        description: 'หากคุณต้องการเพิ่มความสามารถในการแข่งขันด้วยระบบ ERP แต่กังวลกับลิขสิทธ์ซอฟต์แวร์ราคาแพง – Odoo คือคำตอบ Odoo เป็น ERP เพื่อการปรับตัวสู่อนาคต ไม่มีข้อจำกัดด้านจำนวนผู้ใช้งาน และด้วยมีชุมชนนักพัฒนาขนาดใหญ่ จึงขยายความสามารถได้ด้วยนวัตกรรมที่เกิดขึ้นตลอดเวลา Odoo Apps',
        icon: 'tabler:components',
      },
      {
        title: 'Business | Technology Expertise',
        description:
          'ปัญหาของการวางระบบ ERP คือความไม่เข้าใจในภาษาธุรกิจ ทั้งที่หัวใจของ ERP คือ กระบวนการทางธุรกิจ บัญชีและการเงินที่ Ecosoft เรามีประสบการณ์กว่า 10 ปีในการวางระบบ ERP ให้กับธุรกิจไทยที่มีพนักงานตั้งแต่ 10 คนถึง 1,000 คน เราจึงเข้าใจถึงความท้าทายของการวางระบบในหลายมิติ',
        icon: 'tabler:components',
      },
    ]}
  />

  <Features2
    title="<center><img src='/images/why_odoo.png' alt='Why Odoo?'/></center>"
    subtitle="อะไรคือเหตุผลหลักที่ทำให้ odoo เป็นทางเลือกที่เหนือกว่าระบบ ERP อื่น"
    tagline=""
    items={[
      {
        title: 'Free & Open Source',
        description: `
          เป็นซอฟต์แวร์ด้านธุรกิจในแนวทางโอเพ่นซอร์สที่มีการเติบโตเร็วและเป็นที่นิยมที่สุดในเวลานี้
          ด้วยไม่ค่าใช้จ่ายด้าน License และไม่จำกัดการเข้าถึงซอร์สโค้ด
          ทำให้ Odoo เป็นระบบที่คุ้มค่าและมีความอิสระ
          <br>
          <b>หมายเหตุ:</b> Odoo CE + OCA Modules
        `,
        icon: 'flat-color-icons:linux',
      },
      {
        title: 'Module System',
        description: `
          ด้วย Framework อันยอดเยี่ยมและความสามารถด้าน Modularity
          ทำให้มีโมดูลเสริมต่างๆเป็นจำนวนมากจากทั้ง OCA และ Odoo App Store
          เราสามารถเลือกติดตั้ง Module ตามความเหมาะสมของธุรกิจ
          และหรือแก้ให้ตอบโจทย์ธุรกิจเฉพาะโดยไม่ต้องกังวลว่าจะกระทบกับโมดูลอื่นๆ
        `,
        icon: 'flat-color-icons:org-unit',
      },
      {
        title: 'Odoo Community Association',
        description: `
          <a href="/"><b>Odoo Community Association (OCA)</b></a> เป็นองค์กรโอเพ่นซอร์สที่ไม่แสวงผลกำไร
          เป็นศูนย์รวมสมาชิกจากทั่วโลกที่ร่วมกันสร้างโมดูลคุณภาพสูงและร่วมแบ่งปันความรู้ซึ่งกันและกัน
          เป็นส่วนสำคัญที่ทำให้ Odoo เป็นระบบโอเพ่นซอร์สอย่างแท้จริง
        `,
        icon: 'flat-color-icons:like',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <Brands
    title="Customer References"
    subtitle="At Ecosoft - we keep our promise on 100% project success rate"
    icons={[]}
    images={[
      { src: '/images/cust_logo/945.png' },
      { src: '/images/cust_logo/aal.png' },
      { src: '/images/cust_logo/acm.png' },
      { src: '/images/cust_logo/biotec.png' },
      { src: '/images/cust_logo/cft.png' },
      { src: '/images/cust_logo/cmo.png' },
      { src: '/images/cust_logo/easy.png' },
      { src: '/images/cust_logo/esb.png' },
      { src: '/images/cust_logo/fofo.png' },
      { src: '/images/cust_logo/hii.png' },
      { src: '/images/cust_logo/hwf.png' },
      { src: '/images/cust_logo/mcic.png' },
      { src: '/images/cust_logo/mh.png' },
      { src: '/images/cust_logo/monta.png' },
      { src: '/images/cust_logo/nstda.png' },
      { src: '/images/cust_logo/nxpo.png' },
      { src: '/images/cust_logo/optima.png' },
      { src: '/images/cust_logo/rex.png' },
      { src: '/images/cust_logo/rjc.png' },
      { src: '/images/cust_logo/shm.png' },
      { src: '/images/cust_logo/sqp.png' },
      { src: '/images/cust_logo/thaiev.png' },
      { src: '/images/cust_logo/tint.png' },
      { src: '/images/cust_logo/tti.png' },
      { src: '/images/cust_logo/usp.png' },
      { src: '/images/cust_logo/aab.png' },
      { src: '/images/cust_logo/skyviv.png' },
      { src: '/images/cust_logo/rje.png' },
    ]}
  />

  <Testimonials
    title="What our user says?"
    testimonials={[
      {
        testimonial: 'Ecosoft ถือเป็น Technology Partner ที่สำคัญ เราใช้บริการวางระบบมาตั้งแต่ปี 2013 ในขณะนั้น Odoo ยังเป็น OpenERP อยู่ ระบบ ERP ที่ Ecosoft วางไว้ให้ทำให้ผู้บริหารสามารถติดตามการผลิตและบริหารสินค้าคงคลังในแบบที่เราไม่เคยทำได้มาก่อน หลังจากนั้นเราจึงได้ใช้บริการของ Ecosoft กับบริษัทในเครือ Raja Engineering ด้วย Odoo V8 และมาถึงปัจจุบันปี 2019 เรามีแผนการอัพเกรดระบบของ Raja Cycle มาเป็น Odoo V12',
        name: 'นันทชัย ศิระพรประสาร',
        job: 'Managing Director - Raja Cycle Co., Ltd.',
      },
      {
        testimonial : 'สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ (สวทช.) มีหน้าที่ในการถ่ายทอดเทคโนโลยีสู่สังคม ระบบสารสนเทศที่ทันสมัยและยืดหยุ่นมีส่วนสำคัญให้สามารถตอบสนองความต้องการที่เปลี่ยนแปลงไปตลอดเวลา เราหาตัวเลือกที่จะมาทดแทนระบบดั้งเดิมขององค์กร ให้เป็นระบบที่ตอบโจทย์ทั้งด้านเทคโนโลยีและด้านงบประมาณ ตลอดหลายปีที่ผ่านมาบริษัท Ecosoft ได้เข้ามาช่วยเราพัฒนาระบบ Odoo ในหลายส่วนขององค์กร จนในปี 2018 Odoo ได้รับการพัฒนามาเป็นระบบ ERP หลักแทนที่ระบบ Legacy เดิม',
        name: 'วารุณี ลีละธนาวิทย์',
        job: 'Vice President, ICT - NSTDA',
      },
      {
        testimonial: 'เราใช้บริการวางระบบ Odoo จาก Ecosoft มาตั้งแต่ปี 2014 และใช้ในเกือบทุกส่วนขององค์กร และเนื่องจากจุดแข็งของเราคือสูตรการผลิตที่ปรับเปลี่ยนไปได้ตามความต้องการของลูกค้า เราได้ย้ายการทำงานทุกอย่างที่เคยอยู่ใน Spreadsheet มาไว้ที่ Odoo ทำให้สามารถย่นเวลาและความผิดพลาดในการออกแบบและผลิตไปได้มาก การวางระบบต้องการความร่วมมือจากหลายฝ่าย แม้ว่าจะยากในช่วงต้นแต่ผลลัพธ์ที่ได้ก็คุ้มค่า วันนี้เราทำงานได้เร็วขึ้นแต่ผิดพลาดน้อยลง และผู้บริหารเห็นภาพรวมของทั้งองค์กรได้อย่างชัดเจน',
        name: 'สมบูรณ์ ธัญญะวัน',
        job: 'Director - Square Panel Systems',
      },
    ]}
  />


  <Steps
    id="approach"
    title="Our Approach"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Understand</span>',
        description: "ต้องเข้าใจกระบวนการทางธุรกิจและความต้องการอย่างชัดเจน",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Communicate</em>',
        description: "สื่อสารด้วยภาษาเดียวกันกับผู้บริหารและผู้ใช้งานไม่จำกัดเพียงแค่ภาษา IT",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Simulate</span>',
        description: "สามารถจำลองกระบวนการทำงานและปรับเข้ากับระบบ ERP ซอฟต์แวร์",
        icon: 'tabler:paint',
      },
      {
        title: 'Step 4: <span class="font-medium">Transform</span>',
        description: 'สามารถเปลี่ยนความต้องการของธุรกิจให้กลายเป็นข้อมูลที่มีประโยชน์ต่อธุรกิจในรูปของรายงานซึ่งสอดคล้องกับมาตรฐานและกฎระเบียบทั้งภายในและภายนอกองค์กร',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/approach.png',
      alt: 'Steps image',
    }}
  />

  <!-- Content Widget **************** -->
  <Content
    id="solution-1"
    isReversed
    tagline=""
    title="Our Expertise"
    items={[
      {
        title: 'Built on top of Astro 3.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: '~/assets/images/modules.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Enterprise Resource Planning (odoo)</h3>
      Powerful module systems
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="solution-2"
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Thai Gov eProcurement / eBudgeting
      </h3>
      Powerful module systems
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="solution-3"
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        e-Tax Invoice / e-Receipt / e-Withholding Tax
      </h3>
      Powerful module systems
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="solution-4"
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Process Automation & API
      </h3>
      Powerful module systems
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="solution-5"
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Tailer-made solution / Dashboard
      </h3>
      Powerful module systems
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
