---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import Brands from '~/components/widgets/Brands.astro';
// import Tools from '~/components/widgets/Tools.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';


const metadata = {
  title: 'Odoo ERP/CRM ระบบซอฟต์แวร์สำหรับองค์กร ตามมาตรฐาณบัญชีไทยและภาษีไทย',
  // ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- Hero
    callToAction={{
      targetBlank: true,
      text: 'ติดต่อเรา',
      href: '/contact',
      icon: 'tabler:mail',
    }}
    image={{ src: '~/assets/images/odoo_x_erpnext.png', alt: 'Odoo X ERPNext' }}
  -->
  <Hero
    callToAction={{
      targetBlank: true,
      text: 'Contact Us',
      href: 'https://ecosoft.frappe.cloud/contact-us/new',
      icon: 'tabler:mail',
    }}
  >
    <Fragment slot="title">Sustainable ERP Solutions<br/>
      <span class="text-accent dark:text-white highlight text-5xl font-normal tracking-normal">Odoo || ERPNext</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">100% Open Source</span><br>No License Cost, Only Quality Service</span
      >
    </Fragment>
  </Hero>


  <!-- Note Widget ******************* -->

  <Note />

  <!-- Stats Widget ****************** -->

  <Stats
    id="ecosoft"
    title="Ecosoft | Your ERP Partner"
    subtitle="เราคือผู้เชี่ยวชาญด้านระบบ ERP แบบโอเพ่นซอร์ส ไม่มีข้อจำกัดด้านจำนวนผู้ใช้งาน<br>ทีมเดียวของไทยที่เข้าร่วมกับ <a href='https://odoo-community.org/' target='_blank' rel='noopener'><b>OCA - Odoo Community Association</b></a><br>และได้การรับรองเป็น <a href='https://frappe.io/partners/thailand/ecosoft/' target='_blank' rel='noopener'><b>ERPNext Certified Partner</b></a>"

    stats={[
      { title: 'Years in business', amount: '10+' },
      { title: 'Deployed Users', amount: '4K' },
      { title: 'Customers', amount: '40+' },
      { title: 'Modules Contributed', amount: '120+' },
    ]}
  />

  <!-- <Features2
    id="why_odoo"
    title="<center><img src='/images/why_odoo.png' alt='Why Odoo?'/></center>"
    subtitle="อะไรคือเหตุผลหลักที่ทำให้ odoo เป็นทางเลือกที่เหนือกว่าระบบ ERP อื่น"
    tagline=""
    columns={3}
    items={[
      {
        title: 'Free & Open Source',
        description: `
          เป็นซอฟต์แวร์ด้านธุรกิจในแนวทางโอเพ่นซอร์สที่มีการเติบโตเร็วและเป็นที่นิยมที่สุดในเวลานี้
          ด้วยไม่ค่าใช้จ่ายด้าน License และไม่จำกัดการเข้าถึงซอร์สโค้ด
          ทำให้ Odoo เป็นระบบที่คุ้มค่าและมีความอิสระ
          <br>
          <b>หมายเหตุ:</b> Odoo CE + OCA Modules
        `,
        icon: 'flat-color-icons:linux',
      },
      {
        title: 'Module System',
        description: `
          ด้วย Framework อันยอดเยี่ยมและความสามารถด้าน Modularity
          ทำให้มีโมดูลเสริมต่างๆเป็นจำนวนมากจากทั้ง OCA และ Odoo App Store
          เราสามารถเลือกติดตั้ง Module ตามความเหมาะสมของธุรกิจ
          และหรือแก้ให้ตอบโจทย์ธุรกิจเฉพาะโดยไม่ต้องกังวลว่าจะกระทบกับโมดูลอื่นๆ
        `,
        icon: 'flat-color-icons:org-unit',
      },
      {
        title: 'Odoo Community',
        description: `
          มี <a href="https://odoo-community.org/"><b>OCA</b></a> ชุมชนโอเพ่นซอร์ส
          เป็นศูนย์รวมสมาชิกจากทั่วโลกที่ร่วมกันสร้างโมดูลคุณภาพสูงและแบ่งปันความรู้ซึ่งกันและกัน ช่วยลดต้นทุน
          และผลักดันให้ Odoo คงความเป็นโอเพ่นซอร์สอย่างแท้จริง
        `,
        icon: 'flat-color-icons:like',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->


  <Steps
    id="our_approach"
    title="Our Ways of Working"
    subtitle=""
    items={[
      {
        title: 'Highest Quality Level',
        description: 'เราทำงานตามมาตรฐานที่สูงของ Odoo Community Association (OCA) ให้ความสำคัญคุณภาพการสร้างซอฟต์แวร์และการนำกลับมาใช้ใหม่',
        icon: 'tabler:award',
      },
      {
        title: 'Business Expertise',
        description: 'ประสบการณ์วางระบบ ERP มากกว่า 10 ปี และกว่า 40 โครงการ เราจึงเน้นความเข้าใจในกระบวนการทางธุรกิจเป็นสำคัญ เพราะ ERP ไม่ใช่แค่ระบบฐานข้อมูลแต่ต้องถูกต้องตามหลักบัญชีและภาษี',
        icon: 'tabler:bulb',
      },
      {
        title: 'No Vendor Lock In',
        description: 'เราเชื่อมั่นในระบบที่เป็นโอเพ่นซอร์ส 100% เราส่งมอบซอร์สโค้ดทั้งหมดเมื่อจบโครงการ เพื่อให้คุณได้เป็นเจ้าของระบบอย่างแท้จริงแบบไร้ข้อผูกมัด',
        icon: 'tabler:lock-off',
      },
      {
        title: 'Life Long Partnership',
        description: 'เพราะระบบ ERP เป็นระบบเสาหลักของธุรกิจ และเราช่วยให้แน่ใจว่าระบบจะมีส่วนช่วยให้ธุรกิจคุณเติบโตอย่างมั่นคง และด้วยการเป็นพันธมิตรในระยะยาว',
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: '~/assets/images/approach.png',
      alt: 'Approach',
    }}
  />

  <BlogLatestPosts id="new_post" title="Latest Blog" />

  <Brands
    id="customer_ref"
    title="Trusted by many"
    subtitle="We have kept our promise on 100% success rate"
    icons={[]}
    images={[
      { src: '/images/cust_logo/nstda.png', alt: 'NSTDA' },
      { src: '/images/cust_logo/biotec.png', alt: 'Biotec'  },
      { src: '/images/cust_logo/nxpo.png', alt: 'NXPO'  },
      // { src: '/images/cust_logo/tint.png', alt: 'TINT'  },
      { src: '/images/cust_logo/hii.png', alt: 'HII'  },
      { src: '/images/cust_logo/bdi.png', alt: 'BDI'  },
      { src: '/images/cust_logo/cmo.png', alt: 'CMO'  },
      { src: '/images/cust_logo/cft.png', alt: 'CFT'  },
      { src: '/images/cust_logo/945.png', alt: '945'  },
      { src: '/images/cust_logo/aal.png', alt: 'AAL'  },
      { src: '/images/cust_logo/acm.png', alt: 'ACM'  },
      { src: '/images/cust_logo/easy.png', alt: 'EASYNETWORK'  },
      { src: '/images/cust_logo/esb.png', alt: 'ES Battery'  },
      { src: '/images/cust_logo/fofo.png', alt: 'FOFO'  },
      { src: '/images/cust_logo/hwf.png', alt: 'HWF'  },
      { src: '/images/cust_logo/mcic.png', alt: 'MCIC'  },
      { src: '/images/cust_logo/mh.png', alt: 'Menghua'  },
      { src: '/images/cust_logo/monta.png', alt: 'Monta'  },
      { src: '/images/cust_logo/optima.png', alt: 'Optima'  },
      { src: '/images/cust_logo/rex.png', alt: 'ReX'  },
      { src: '/images/cust_logo/rjc.png', alt: 'RJC'  },
      { src: '/images/cust_logo/shm.png', alt: 'SHM'  },
      { src: '/images/cust_logo/sqp.png', alt: 'SQP'  },
      { src: '/images/cust_logo/thaiev.png', alt: 'Thai EV'  },
      { src: '/images/cust_logo/tti.png', alt: 'TTI'  },
      { src: '/images/cust_logo/usp.png', alt: 'USP'  },
      { src: '/images/cust_logo/aab.png', alt: 'AAB'  },
      { src: '/images/cust_logo/skyviv.png', alt: 'SKYVIV'  },
      { src: '/images/cust_logo/rje.png', alt: 'RJE'  },
      { src: '/images/cust_logo/jv_control.png', alt: 'JV Control'  },
      { src: '/images/cust_logo/4u2.png', alt: '4U2'  },
      { src: '/images/cust_logo/lpp.png', alt: 'Lamphun Plastpack'  },
    ]}
  />

  <Testimonials
    title="What they say"
    columns={3}
    testimonials={[
      {
        testimonial: 'เราใช้บริการวางระบบจาก Ecosoft มาตั้งแต่ปี 2013 ระบบทำให้ผู้บริหารสามารถติดตามการผลิตและบริหารสินค้าคงคลังแบบที่ไม่เคยทำได้ หลังจากนั้นเราจึงได้ใช้บริการของ Ecosoft กับบริษัทในเครือ Raja Engineering ต่อด้วย Odoo 8 และใช้มาถึงปัจจุบัน',
        name: 'นันทชัย ศิริพรประสาร',
        job: 'Managing Director - Raja Cycle Co., Ltd.',
      },
      {
        testimonial : 'สวทช. มีหน้าที่ในการถ่ายทอดเทคโนโลยีสู่สังคม ระบบที่ยืดหยุ่นมีส่วนสำคัญเพื่อสนองความต้องการที่เปลี่ยนแปลง เราหาตัวเลือกที่เพื่อแทนระบบเดิมให้เป็นระบบต้องดีทั้งเทคโนโลยีและประหยัดงบประมาณ Ecosoft ได้เข้ามาช่วยเราพัฒนาระบบ Odoo ให้กับหลายแผนก จนในปี 2018 Odoo เข้ามาแทนที่ระบบ SAP เดิมอย่างสมบูรณ์',
        name: 'วารุณี ลีละธนาวิทย์',
        job: 'Vice President, ICT - NSTDA',
      },
      {
        testimonial: 'เราใช้ Odoo ตั้งแต่ปี 2014 ใช้ในเกือบทุกส่วนขององค์กร จุดแข็งของเราคือการผลิตที่ปรับเปลี่ยนได้ตามความต้องการของลูกค้า เราเปลี่ยนจากระบบ Spreadsheet มาเป็น Odoo ทำให้สามารถย่นเวลาและความผิดพลาดไปได้อย่างมาก และผู้บริหารเห็นภาพรวมของทั้งองค์กรได้อย่างชัดเจน',
        name: 'สมบูรณ์ ธัญญะวัน',
        job: 'Director - Square Panel Systems',
      },
      {
        testimonial: 'แนะนำเลยครับ สำหรับใครที่กำลังมองหาระบบ ERP ที่ยืดหยุ่นและปรับแต่งได้ ระบบ ERPNext เหมาะมากครับ โดยเฉพาะคนที่มีพื้นฐานเรื่องระบบหรือเทคโนโลยีระดับหนึ่ง เพราะจะสามารถจัดการ ปรับแก้ หรือพัฒนาบางส่วนได้เองครับ',
        name: 'อธิป รุ่งกีรติกุล',
        job: 'Business Developer - Lamphun Plastpack',
      },
      {
        testimonial: 'Ecosoft ช่วยให้ EOS Orbit ปลดล็อกระบบที่เป็นหนึ่งเดียวซึ่งเติบโตไปพร้อมกับโครงการดาวเทียมของเรา ทีมงานของเราจึงใช้เวลาน้อยลงในการประสานงานด้วยตนเอง และใช้เวลามากขึ้นในการสร้างเทคโนโลยีอวกาศ ERPNext ได้กลายเป็นโครงสร้างพื้นฐานดิจิทัลของ EOS ช่วยให้การตัดสินใจรวดเร็วขึ้น มีความรับผิดชอบมากขึ้น และช่วยให้ EOS Orbit ขยายธุรกิจได้อย่างมั่นใจในอุตสาหกรรมอวกาศยุคใหม่',
        name: 'สุปิติ บูรณวัฒนาโชค',
        job: 'Chairman - EOS Orbit',
      },
    ]}
  />


  <!-- Content Widget **************** -->
  <Content
    id="solution-1"
    isReversed
    tagline=""
    title="Our Services"
    items={[
      { title: '100% Open Source - Odoo CE + OCA Modules' },
      { title: '100% Open Source - Frappe Framework + ERPNext' },
      { title: 'ERP / CRM / MRP / HRM' },
      { title: 'Experienced Team of Implementor' },
      { title: 'Comply with Thai Accounting Standard' },
    ]}
    image={{
      src: '~/assets/images/Odoo-Integration-1.png',
      alt: 'Odoo ERP',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Enterprise Resource Planning</h3>
      ระบบบริหารทรัพยากรองค์กร ร้อยเรียงกระบวนการทำงานของทุกแผนกเข้าด้วยกัน ที่คุณเป็นเจ้าของระบบข้อมูลและซอร์สโค้ดทั้งหมดอย่างแท้จริง
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="solution-2"
    isAfterContent
    items={[
      { title: 'ระบบโครงสร้างองค์กร' },
      { title: 'ระบบวางแผนและควบคุมงบประมาณ' },
      { title: 'ระบบจัดซื้อจัดจ้างตามระเบียบราชการ' },
      { title: 'ระบบบริหารการเงินและบัญชี' },
      { title: 'ระบบจัดการสัญญา' },
      { title: 'ระบบบริหารครุภัณฑ์' },
      { title: 'ระบบบริหารวัสดุคงคลัง' }
    ]}
    image={{
      src: '~/assets/images/budgeting.png',
      alt: 'Budgeting',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Thai Government ERP
      </h3>
      ระบบ ERP ที่ผ่านการศึกษา ออกแบบจากกระบวนงานบริหารจัดการ และผ่านการใช้งานจริง
      จากหน่วยงานภาครัฐ เช่น สวทช สอวช สทน และอีกหลายหน่วยงาน
      ประกอบด้วยโมดูลดังต่อไปนี้
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="solution-3"
    isReversed
    isAfterContent
    items={[
      { title: 'Simple and Secure Data Connection' },
      { title: 'Easy Data Exploration' },
      { title: 'Customizable Visualizations' },
      { title: 'Interactive Dashboards' },
      { title: 'User-Friendly Design' },
      { title: 'Stay Informed with Alerts' },
    ]}
    image={{
      src: '~/assets/images/insight.png',
      alt: 'Business Intelligence',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Frappe Insight - Digital Dashboard
      </h3>
      100% Open Source Business Intelligence ที่เข้าถึงได้ง่ายสำหรับทุคนในองค์กร 
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="solution-4"
    isAfterContent
    items={[
      { title: '100% Open Source Automation Tools' },
      { title: 'Build custom scenarios at speed' },
      { title: 'Integrate with any app' },
      { title: 'Independent instances for each environment' },
      { title: 'Bulk operations' },
      { title: 'Painless debugging' },
    ]}
    image={{
      src: '~/assets/images/workflow2.png',
      alt: 'Process Automation',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Process Automation & API (n8n)
      </h3>
      เชื่อมโยงข้อมูลจากหลายระบบในองค์กรให้ไร้รอยต่อแบบอัตโนมัติและดูแลรักษาได้ง่าย
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="solution-5"
    isReversed
    isAfterContent
    items={[
      { title: 'ERP / CRM' },
      { title: 'Human Resources' },
      { title: 'Learning Management' },
      { title: 'Helpdesk' },
      { title: 'Project Collaboration' },
      { title: 'Healthcare  ' },
    ]}
    image={{
      src: '~/assets/images/frappe_apps.png',
      alt: 'Frappe Apps',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Other Frappe Solutions
      </h3>
      ระบบบริหารจัดการองค์กรแบบ Low Code จาก Frappeverse
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Partners -->
  <!-- <Tools
    id="partners"
    title=""
    subtitle=""
    images={[
      { src: '/images/tools/oca.png', link: 'https://odoo-community.org/', alt: 'OCA' },
      { src: '/images/tools/frappe.png', link: 'https://frappe.io/frappeverse', alt: 'Frappe' },
      { src: '/images/tools/n8n.png', link: 'https://n8n.io/', alt: 'n8n' },
      { src: '/images/tools/flo-works.png', link: 'https://flo-works.co/', alt: 'FLO WORKS' },
    ]}
  /> -->

</Layout>
